* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
    transition: 0.25s;
}

.clearforms {
    background: none;
    border: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacearound {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fontsize30 {
    font-size: 30px;
}

.fontsize24 {
    font-size: 24px;
}

.center_boven {
    display: flex;
    justify-content: center;
}

.model {
    width: 100%;
    margin-top: 30px;
}

.mainloc {
    background-image: url(../fotos/pizzabackground.jpg);
    background-size: 100% 100%;
    width: 100%;
}

.maintext {
    font-family: 'Secular One', sans-serif;
}

.fontcontact {
    font-family: 'Public Sans', sans-serif;
}

.textpizza {
    padding-top: 20px;
    width: 100%;
    height: auto;
}

.mainpage {
    width: 100%;
    height: 675px;
    margin-top: 20px;
}

.buttonbox {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 100px;
}

.buttonhome {
    width: 175px;
    height: 90px;
    border-bottom: 4px solid black;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    margin: 30px;
}

.buttonhome:hover {
    border-top: 4px solid black;
}

@media only screen and (max-width: 600px) {
    .buttonbox {
        flex-wrap: wrap;
    }
}

/*
    contact
*/

.maincontact {
    background-image: url(../fotos/pizzabackgroundcontact.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 775px;
}

.backbuttonplace {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
}

.textplacecontact {
    width: 100%;
    height: 50px;
}

.contactplek {
    width: 100%;
    height: auto;
}

.formplek {
    width: 500px;
    height: 500px;
}

.emailplace {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.emailveld {
    width: 75%;
    height: 40px;
}

.submitveld {
    width: 75%;
    height: 40px;
}

.textveld {
    width: 75%;
    height: 200px;
    resize: none;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.errorplek {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
}

.submitbutton {
    border: 2px solid black;
    border-radius: 4px;
}

.borderbotemcontact {
    border-bottom: 2px solid black;
}

/*
    Reserveren
*/

.achtergrondreserveren {
    background-image: url(../fotos/pizzaspecial.jpg);
    background-size: 100% 100%;
    height: 750px;
}

.textveldreserveren {
    width: 75%;
    height: 140px;
    resize: none;
}

.textreserveren {
    width: 100%;
    height: 175px;
}

.emailplacereserveren {
    width: 100%;
    height: 50px;
}